<!DOCTYPE html>
<html>

<head>
    <title>Pokeapi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <%= render 'components/header', title: @title  %>
    <section class="pokemons-container">
        <% @pokemons.each do |pokemon| %>
        <article class="pokemon"><%= link_to pokemon[:name], controller: "pokemons", action: "show", id: pokemon[:id] %></article>
        <% end %>
    </section>
    <div class="paginate"><%= paginate @pokemons %></div>
    <%= render 'components/footer' %>
</body>

</html>